<!DOCTYPE html>
<html>
  <head>
    <title>Add Reminder</title>
  </head>
  <body>
    <h1>Add Reminder</h1>
    <form action="/addReminder" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title"><br>

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea><br>

      <label for="date">Date:</label>
      <input type="date" id="date" name="date"><br>

      <input type="submit" value="Add Reminder">
    </form>
    <br>
    <a href="/geolocator"><button>Go to Geolocator</button></a>
  </body>
</html>

