<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/formstyle.css">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JXLNM33GRQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JXLNM33GRQ');
</script>
    <title>RemindAll</title>
</head>
<body onload="myGeolocator()">

<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>RememberAll</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Geolocator</span>
              <form action="/addReminder" method="POST" id="stripe-login">
                <div class="field padding-bottom--24">
                  <label for="long">Longitude:</label>
                  <input type="text" name="long" id="long">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="lat">Latitude:</label>
                  </div>
                  <input type="text" name="lat" id="lat">
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Add Reminder" onclick="saveloc()">
                </div>
              </form>
                    <div>
        <center>
            <div id="result"></div>
            <div id="loc"></div>
        </center>
    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
        let result = document.getElementById("result");
        let long = 0;
        let lat = 0;
        function myGeolocator() {
            navigator.geolocation.getCurrentPosition(success);
        }
        //checks the actual user position
        function success(data) {
            let latitude = data.coords.latitude;
            let longitude = data.coords.longitude;
            if (latitude === lat && longitude === long) {
                alert("You are near an important location.");
                console.log("You are near an important location.");
            }
        }
        //this will replace the longitude and latitude stored in the DB
        function saveloc() {
            let long2 = document.querySelector('#long').value;
            let lat2 = document.querySelector('#lat').value;
            long = long2;
            lat = lat2;
            document.getElementById("loc").innerHTML = "Latitude: " + lat + "<br>Longitude: "  + long;
            myGeolocator();
        }
        //post request to save location
        fetch("/saveLocation", {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({ latitude: lat, longitude: long }),
        })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.log(error));
   </script>
</body>
</html>
