<!DOCTYPE html>
<html>
<head>
    <title>RemindAll</title>
    <link rel="stylesheet" href="/group.css">
</head>
<body onload="myGeolocator()">
    <h1 style="text-align: center">RemindAll</h1>

    <div>
        <center>
            <div id="result"></div>
            <div id="loc"></div>
            <p>
                <label for="long">Longitude:</label>
                <input type="text" name="long" id="long">
            </p>
            <p>
                <label for="lat">Latitude:</label>
                <input type="text" name="lat" id="lat">
            </p>
            <button onclick="saveloc()">Add Location</button>
        </center>
    </div>

    <script>
        let result = document.getElementById("result");
        let long = 0;
        let lat = 0;

        function myGeolocator() {
            navigator.geolocation.getCurrentPosition(success);
        }

        //checks the actual user position
        function success(data) {
            let latitude = data.coords.latitude;
            let longitude = data.coords.longitude;
            if (latitude === lat && longitude === long) {
                alert("You are near an important location.");
                console.log("You are near an important location.");
            }
        }

        //this will replace the longitude and latitude stored in the DB
        function saveloc() {
            let long2 = document.querySelector('#long').value;
            let lat2 = document.querySelector('#lat').value;
            long = long2;
            lat = lat2;
            document.getElementById("loc").innerHTML = "Latitude: " + lat + "<br>Longitude: "  + long;
            myGeolocator();
        }

        //post request to save location
        fetch("/saveLocation", {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({ latitude: lat, longitude: long }),
        })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.log(error));
   </script>
</body>
</html>

