<!DOCTYPE html>
<html>
  <head>
    <title>My Reminders</title>
  </head>
  <body>
    <h1>My Reminders</h1>
    <ul>
      <% reminders.forEach(function(reminder) { %>
        <li><%= reminder.title %>: <%= reminder.description %> (<%= reminder.date %>)</li>
      <% }); %>
    </ul>
    <a href="/addReminder">Add Reminder</a>
    <br><br>
    <form action="/" method="get">
      <button type="submit">Home</button>
    </form>
  </body>
</html>
