<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/styles.css">
<head>
  <title>Login</title>
  <base href="/">
</head>
<body>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="/login" method="POST">
                <h2 class="social-login">RememberAll</h2>
                <h3 class="button__text">Log In</h3>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name" id="username" name="username" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" id="password" name="password" required>
				</div>
                <input class="button login__submit" type="submit" value="Log In">
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
</html>